{% load static %}
{% include 'brecho/partial/head.html' %}
{% include 'brecho/partial/sidebar.html' %}
<body>

    <div class="attdel">
        {% block content %}
        <h1>Atualizar Venda</h1>
        <form action="{% url 'atualizar_venda' %}" method="post">
            {% csrf_token %}
            <label for="idVenda">Id da venda que deseja atualizar:</label>
            <input type="number" name="idVenda" required> <br>

            <label for="DataVenda">Data da venda:</label>
            <input type="date" name="dataVenda">

            <label for="clienteComprou">Cliente que comprou:</label>
            {{ form.clienteComprou }} <br>

            <label for="roupaComprada"> Roupa Comprada:</label>
            {{ form.roupaComprada }} <br>


            <div class="concluir">
                <button type="submit">Atualizar Venda</button>
            </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
        </form>
        {% endblock %}
    </div>

</body>

</html>