{% load static %}
{% include 'brecho/partial/head.html' %}
{% include 'brecho/partial/sidebar.html' %}

<body>

    <div class="attdel">
        {% block content %}
        <form action="{url 'excluir_venda'}" method="post"></form>
        <h1>Exclusão de Venda</h1> <br>
        {% csrf_token %}

        <label for="idVenda"> Id da venda que deseja deletar: <br></label>
        <input type="number" name="idVenda" required>

        <div class="concluir">
            <button type="submit">Excluir Venda</button>
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        </form>
        {% endblock %}

    </div>

</body>

</html>