{% load static %}
{% include 'brecho/partial/head.html' %}
<body>
    <header>
        <div class="inicio">
            <a href="{% url 'home' %}">Inicio</a>
        </div>
    </header>
    
    <div class="clicavel">
        <button>
            <a href="{% url 'opcaocli' %}">Cliente</a>
        </button><br>

        <button>
            <a href="{% url 'opcoesrou' %}">Roupa</a>
        </button><br>

        <button>
            <a href="{% url 'opcoesven' %}">Venda</a>
        </button><br>

        <button>
            <a href="{% url 'listartudo' %}"> Listagens</a>
        </button><br>
    </div>

</body>
</html>