<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brecho</title>
</head>

<body>
    <nav style="background-color: coral; text-align: center;" class="conteiner">Inicio
    </nav>

    <form action="{% url 'listarclientes' %}" method="post">
        <div style="text-align: center;" class="conteiner">
            <h1>Cadastar Cliente</h1><br>
            Nome<input name="nome" type="text"><br>
            FotoCliente<input name="FotoCliente" type="image"><br>
            Datavenda<input name="DataVenda" type="date"><br>
            <button class="form-control-sm" type="submit">Concluir</button>
        </div>
    </form>

</body>

</html>