{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Listagem</title>
</head>

<body>
    <header>
        <nav class="ini">
            <a href="{% url 'home' %}">Inicio</a>
        </nav>
    </header>

    <div class="listagem">
    <h1>Listagem de clientes</h1>
        <ul>
            {% for cliente in clientes %}
            <li>
                <p>{{ cliente.idcliente }} - {{ cliente.Nome }} - {{ cliente.DataVenda }} - {{ cliente.LinkTel }} - {{ cliente.roupa_comprada}} </p>
            </li>
            {% endfor %}
        </ul>
    
    <h1>Listagem de roupas</h1>
        <ul>
            {% for roupa in roupas %}
            <li>
                <p>{{ roupa.idroupa }} - {{ roupa.Tamanho }} - {{ roupa.Preco }} - {{ roupa.Cor }} - {{ roupa.Categoria }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>