{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Listagem</title>
</head>

<body>
    <header>
        <nav class="ini">
            <a href="{% url 'home' %}">Inicio</a>
        </nav>
    </header>

    <div style="text-align: center;" class="list">
        <h1>Listagem de Pessoas</h1>
        <ol>
            {% for clientes in Cliente %}
            <li>
                <p>{{ cliente.idcliente}} - {{ cliente.Nome }} - {{ cliente.DataVenda }}</p>
            </li>
            {% endfor %}
        </ol>

        <h1>Listagem de Roupas</h1>
        <ol>
            {% for roupas in Roupa %}
            <li>
                <p>{{ roupa.idroupa }} - {{ roupa.Tamanho }} - {{ roupa.Preco }} - {{ roupa.Cor }}</p>
            </li>
            {% endfor %}
        </ol>
    </div>

</body>

</html>