{% load static %}
{% include 'brecho/partial/head.html' %}
{% include 'brecho/partial/sidebar.html' %}
<body>

<body>
    <div class="attdel">
        {% block content %}
        <h1>Atualizar cliente</h1>
        <form method="post" action="{% url 'atualizar_cliente' %}">
            {% csrf_token %}
                
            <p>Digite o ID do cliente que deseja atualizar:</p>
            <input type="number" name="idcliente" required>
            {{ form.as_p }}

            <div class="concluir">
                <button type="submit">Atualizar Cliente</button>
            </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

        </form>
        {% endblock %}
    </div>

</body>
</html>