{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pags.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Cliente</title>
</head>

<body>
    <header>
        <nav class="inicio">
            <a href="{% url 'home' %}">Inicio</a>
        </nav>
    </header>

    <form action="{% url 'criar_cliente' %}" method="post">
        <div class="formulario">
            <h1>Cadastrar Cliente</h1><br>
            {% csrf_token %}
            
            <label for="Nome">Nome:</label>
            {{ form.Nome }}

            <label for="LinkTel"> Link ou Telefone:</label>
            {{ form.LinkTel }} <br>

        <div class="concluir">
            <button type="submit">Concluir</button>
        </div>
        
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

        </div>
    </form>

</body>

</html>