{% load static %}
{% include 'brecho/partial/head.html' %}
{% include 'brecho/partial/sidebar.html' %}

<body>

    <form action="{% url 'criar_cliente' %}" method="post">
        <div class="formulario">
            <h1>Cadastrar Cliente</h1><br>
            {% csrf_token %}
            
            <label for="Nome">Nome:</label>
            {{ form.Nome }}

            <label for="LinkTel"> Link ou Telefone:</label>
            {{ form.LinkTel }} <br>

        <div class="concluir">
            <button type="submit">Concluir</button>
        </div>
        
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

        </div>
    </form>

</body>

</html>