{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/pags.css' %}">
    <title>Excluir cliente</title>
</head>

<body>
    <header>
        <nav class="inicio">
            <a href="{% url 'home' %}">Inicio</a>
        </nav>
    </header>

    <div class="attdel">
        {% block content %}
        <h2>Exclusão de Cliente</h2>
        <form method="post" action="{% url 'excluir_cliente' %}">
            {% csrf_token %}
            <label for="idcliente">ID do Cliente que deseja deletar: <br>:</label>
            <input type="number" name="idcliente" required>

            <div class="concluir">
                <button type="submit">Excluir Cliente</button>
            </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

        </form>
        {% endblock %}
    </div>

</body>
</html>