{% load static %}
{% include 'brecho/partial/head.html' %}
<body>
    <header>
        <div class="inicio">
            <a href="{% url 'home' %}">Inicio</a>
        </div>
    </header>

    <div class="clicavel">
        <button>
            <a href="{% url 'criar_cliente' %}"> Criar Cliente</a>
        </button><br>

        <button>
            <a href="{% url 'excluir_cliente' %}"> Deletar Cliente</a>
        </button><br>

        <button>
            <a href="{% url 'atualizar_cliente' %}"> Atualizar Cliente</a>
        </button><br>
    </div>
    
</body>
</html>