header {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #aae2ee;
}

.clicavel button {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 15px auto;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.clicavel button:hover {
    background-color: #2980b9;
    color: white;
}

