.formulario, .formulario label, .attdel 
{
    display:block;
    align-items: center;
    justify-content: center;
}

.formulario 
{
    color: #848484;
    padding: 25px;
}

.formulario label 
{
    margin-bottom: 10px;
}

.attdel 
{
    width: 50%;
    height: 100vh;
}