{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Opcoes</title>
</head>
<body>
    <header>
        <nav class="ini">
            <a href="{% url 'home' %}">Inicio</a>
        </nav>
    </header>

    <div class="clicavel">
        <button>
            <a href="{% url 'criar_roupa' %}">Criar Roupa</a>
        </button>

        <button>
            <a href="{% url 'excluir_roupa' %}">Deletar Roupa</a>
        </button>
    </div>
    
</body>
</html>