<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir roupa</title>
</head>
<body>

        {% block content %}
        <h2>Opções de Exclusão de roupa</h2>
        <p>Informe o ID da roupa que deseja excluir:</p>
        <form method="post" action="{% url 'excluir_roupa' %}">
            {% csrf_token %}
            <label for="idroupa">ID da roupa:</label>
            <input type="number" name="idroupa" required>
            <button type="submit">Excluir Roupa</button>
        </form>
        <a href="{% url 'home' %}">Cancelar</a>
        {% endblock %} 

</body>
</html>