{% load static %}
{% include 'brecho/partial/head.html' %}
<body>
    <header>
        <div class="inicio">
            <a href="{% url 'home' %}">Inicio</a>
        </div>
    </header>

    <div class="attdel">
        {% block content %}
        <h1>Exclusão de roupa</h1> <br>
        <form method="post" action="{% url 'excluir_roupa' %}">
            {% csrf_token %}

            <label for="idroupa"> <br> ID da roupa que deseja excluir: <br></label>
            <input type="number" name="idroupa" required>

            <div class="concluir">
                <button type="submit">Excluir Roupa</button>
            </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

        </form>
        {% endblock %}
    </div>

</body>

</html>