{% load static %}
{% include 'brecho/partial/head.html' %}
{% include 'brecho/partial/sidebar.html' %}
<body>

    <div class="conteiner">
        <div class="con-img">
            <img src="{% static 'img/roupafront.svg' %}">
        </div>
        
        
        <div class="formulario">
            <form action="{% url 'criar_roupa' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="formheader">
                    <div class="titulo">
                        <h1>Cadastrar Roupa</h1>
                    </div>
                </div>

        <div class="entradas">
            <div class="entradasbox">
                <label for="nomebrecho">Nome do brecho:</label>
                <input id="nomebrecho" type="text" name="nomebrecho" placeholder="Digite o nome do seu brecho" required>
            </div>

            <div class="entradasbox">
                <label for="FotoRoupa">Foto da roupa:</label>
                <input id="foto" type="file" name="FotoRoupa" required>
            </div>

            <div class="entradasbox">
                <label for="Tamanho">Tamanho:</label>
                <input id="tamanho" type="text" name="Tamanho" placeholder="PP/P/M/G/GG" required>
            </div>

            <div class="entradasbox">
                <label for="Preco">Preço:</label>
                <input id="preco" type="number" placeholder="Ex: 10/25.50" required>
            </div>

            <div class="entradasbox">
                <label for="Cor">Cor:</label>
                <input id="cor" type="text" name="Cor" placeholder="Digite a cor da roupa" required>
            </div>

            <div class="entradasbox">
                <label for="Categoria">Categoria</label>
                <input id="categoria" type="text" name="Categoria" placeholder="Ex: Jaqueta, camisa, short..." required>
            </div>

        </div>

        <div class="concluir">            
            <button type="submit">Concluir</button>
        </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
        </form>
    </div>
    
</body>
</html>
