{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pags.css' %}">
    <title>Roupas</title>
</head>

<body>
    <header>
        <nav class="inicio">
            <a href="{% url 'home' %}">Inicio</a>
        </nav>
    </header>

    <form action="{% url 'criar_roupa' %}" method="post">
        <div class="formulario">
            <h2>Cadastrar Roupa</h2><br>
            {% csrf_token %}
            <label for="Tamanho">Tamanho:</label>
            {{ form.Tamanho }}
            <label for="Preco">Preço:</label>
            {{ form.Preco }}
            <label for="Cor">Cor:</label>
            {{ form.Cor }} <br>
            <button type="submit">Concluir</button>
        </div>
    </form>
    
</body>
</html>
