{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pags.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Roupas</title>
</head>

<body>
    <header>
        <nav class="inicio">
            <a href="{% url 'home' %}">Inicio</a>
        </nav>
    </header>

    <form action="{% url 'criar_roupa' %}" method="post">
        <div class="formulario">
            <h1>Cadastrar Roupa</h1><br>
            {% csrf_token %}
            <label for="Tamanho">Tamanho:</label>
            <input type="checkbox" name="tamanhos"> PP
            <input type="checkbox" name="tamanhos"> P
            <input type="checkbox" name="tamanhos"> M
            <input type="checkbox" name="tamanhos"> G
            <input type="checkbox" name="tamanhos"> GG

            <label for="Preco">Preço:</label>
            {{ form.Preco }}
            <label for="Cor">Cor:</label>
            {{ form.Cor }} <br>
            <label for="Categoria">Categoria</label>
            <input type="text" name="Categoria">

        <div class="concluir">            
            <button type="submit">Concluir</button>
        </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

        </div>
    </form>
    
</body>
</html>
